server:
  port: 8081
spring:
  application:
    name: llz_demo
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/new_demo
    username: root
    password: root
# 日志配置
logging:
  level:
    com.llz.*: debug
  file:
    name: ./logs/llzdemo.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
